.modal-register{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    background: transparent;
    background-color: rgba(46, 46, 52, 0.98);
}
.modal-register.active{
    opacity: 1;
    visibility: visible;
}
.modal-register-content{
    width: 95vw;
    height: 75vh;
    position: relative;
    top: 50%;
    left: 50%;
    background-color: #1c1c1c;
    padding: 16px;
    transform: translate(-50%,-50%) scale(0);
    transition: 1s;
    opacity: 0;
    overflow: hidden;
    border-radius: 10px;

}
.modal-register-content.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.modal-register-content::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent,#004b6d, #004b6d);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-direction: reverse;
}
.modal-register-content::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent,#004b6d, #004b6d);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: 3s;
    animation-direction: reverse;
}
@keyframes animate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.form-login{
    position: absolute;
    inset: 2px;
    background-color: #28292d;
    z-index: 300;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: scroll;
}
.form-login::-webkit-scrollbar {
    display: none;
}
.modal-register-close{
    position: absolute;
    right: 16px;
    top: 12px;
    font-size: 30px;
    cursor: pointer;
    color: #0a8fcd;
    font-weight: 800;
    transition: .5s;
    z-index: 1;
}
.modal-register-close:hover{
    color: #eac651;
    transform: scale(1.2) rotate(90deg);
}

.form-login h2 {
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
}
.form-group{
    position: relative;
    width: 100%;
}
.form-group input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    color: #23242a !important;
    font-size: 18px;
    letter-spacing: 1px;
    z-index: 10;
}
.form-group span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 18px;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 1px;
    transition: .3s;

}
.form-group input:valid ~ span,
.form-group input:focus ~ span {
    color: #45f3ff;
    transform: translateX(-10px) translateY(-34px);
    font-size: 16px;
}
.form-group i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height:2px;
    background-color: #45f3ff;
    border-radius: 4px;
    transition: .3s;
    pointer-events: none;
    z-index: 9;
}
.form-group input:valid ~ i,
.form-group input:focus ~ i{
    height:44px;
}
.links{
    display: flex;
    justify-content: flex-end;
}
.links span {
    margin: 20px 0;
    font-size: 18px;
    color: #45f3ff;
    text-decoration: none;
    cursor: pointer;
}

input[type="submit"]{
    border: none;
    outline: none;
    background-color: rgba(69, 243, 255,.9);
    padding: 15px 25px;
    width: 150px;
    border-radius: 4px;
    margin: 0 auto 0;
    font-weight: 600;
    cursor: pointer;
}
input[type="submit"]:hover{
     background-color: rgba(69, 243, 255,1);
    color: #eac651;
    }
@media (min-width: 540px) and (max-width: 767px) {
    .modal-register-content{
        width: 60vw;
    }
}
@media (min-width: 768px) and (max-width: 1039px) {
    .modal-register-content{
        width: 50vw;
    }
}
@media (min-width: 1040px){
    .modal-register-content{
        width: 30vw;
    }
}