.wrapper-slider{
    width: 100%;
    height: calc(100vh - 150px);
    background-color: rgba(202, 210, 221, 0.5);
    padding: 20px 0;
}.container-slider {
    width: 100%;
    height: 100%;
    margin: 0 auto;;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (min-width: 540px) {
    .container-slider {
        max-width: 540px;
    }
}
@media (min-width: 720px) {
    .container-slider {
        max-width: 720px;
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 960px) {
    .container-slider {
        max-width: 960px;
    }
}
@media (min-width: 1140px) {
    .container-slider {
        max-width: 1140px;
    }
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out .4s;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide.active{
    opacity: 1;
}
.btn-slide{
    background-color: transparent;
    border-radius: 50%;
    border: none;
    position: absolute;
    display: flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
}
.btn-slide.prev{
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
    position:absolute;
}
.btn-slide.prev:hover{
    transform: translateY(-60px);
}
.btn-slide.next{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
}
.btn-slide.next:hover{
    transform: translateY(-60px);
}
.container-dots{
   position: absolute;
   bottom: 30px;
   left: 50%;
   transform: translateX(-50%);
   display: flex; 
   gap: 10px;
   z-index: 10;
}
.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    background: #f1f1f1;
}
.dot.active{
    background: #ccc;
    width: 15px;
    height: 15px;
}