.wrapper-slider{
    width: 100%;
    height: calc(100vh - 150px);
    background-color: rgba(202, 210, 221, 0.5);
    padding: 20px 0;
}.container-slider {
    width: 100%;
    height: 100%;
    margin: 0 auto;;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (min-width: 540px) {
    .container-slider {
        max-width: 540px;
    }
}
@media (min-width: 720px) {
    .container-slider {
        max-width: 720px;
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 960px) {
    .container-slider {
        max-width: 960px;
    }
}
@media (min-width: 1140px) {
    .container-slider {
        max-width: 1140px;
    }
}
.content-slider{
    width: 100%;
    height: 100%;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out .4s;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.slide.active{
    opacity: 1;
}
.btn-slide{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}
.btn-slide:hover{
    box-shadow: 0 2px 5px #03a9f4,inset 0 2px 5px #03a9f4;
}
.btn-slide.prev{
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
    position:absolute;
}
.btn-slide.prev:hover{
    transform: translateY(-50px);
}
.btn-slide.next{
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
}
.btn-slide.next:hover{
    transform: translateY(-50px);
}
.btn-slide img{
    width: 60px;
    height: 60px;
}
.container-dots{
   position: absolute;
   bottom: 30px;
   left: 50%;
   transform: translateX(-50%);
   display: flex; 
   justify-content: center;
   align-items: center;
   gap: 10px;
   z-index: 10;
}
.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid rgba(92, 56, 56, .5);
    background: #f1f1f1;
    cursor: pointer;
    transition: .2s;
}
.dot:hover{
    background: rgb(92, 56, 56);
}
.dot.active{
    background: rgb(92, 56, 56);
    width: 25px;
    height: 25px;
}
