.wrapper-filter-header{
width: 100%;
position: relative;
}
.wrapper-filter-header input{
    border: none;
    outline:none;
    box-shadow: 0 0 2px #ccc;
    padding: 15px;
    border-radius: 50px;
    color: #004b6d;
    font-size: 18px;
    transition: .5s;
    width: 100%;
    position: relative;
}
.wrapper-filter-header input::placeholder{
    color: #004b6d;
    font-size: 18px;
    text-transform: capitalize;
    }
.wrapper-filter-header input:focus{
    box-shadow: inset 0 0 0 1px #0768b6,
     0 0 5px #0768b6;
}
.button-filter{
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 2px #ccc;
    cursor: pointer;
    transition: .3s;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.button-filter:hover{
    background-color: #ccc;
}
.button-filter:hover svg path{
    fill: #eac651;
}
@media (max-width: 578px){
   .wrapper-filter-header{
    justify-content: space-between;
    align-items: center;
 }
}
@media (min-width: 578px) and (max-width: 1200px) {
 .wrapper-filter-header{
    justify-content: flex-start;
    align-items: center;
 }
 .wrapper-filter-header input{
    width: 100%;
 }
}
@media (min-width: 1200px){
     .wrapper-filter-header{
    justify-content: center;
 }
  .wrapper-filter-header input{
    width: 100%;
 }
}