.wrapper-list{
    width: 100%;
}
.container-list{
    padding: 40px 0px;
}
/* grid */
.content-layout-grid{
    width: 100%;
    display: grid;
    gap: 20px;
}
.content-layout-grid .card-product{
    
}
@media (min-width: 578px) and (max-width: 1200px) {
  .content-layout-grid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
}
@media (min-width: 1200px){
   .content-layout-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
   }

}
/* Card */
.content-layout-grid .card-image{
    width: 100%;
    overflow: hidden;
}
.content-layout-grid .card-image img{
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

/* list */
.content-layout-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.content-layout-list .card-product{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}
.content-layout-list .card-product .card-image{
    width: calc(100% / 3);
}
@media (max-width: 767px) {
    .content-layout-list .card-product .card-image{
    width: 100%;
}
}
.content-layout-list .card-product .card-image img{
    width: 100%;
    vertical-align: middle;
}