.wrapper-list-product{
    width: 100%;
    padding: 40px 0px;
}
.grid{
    width: 100%;
    display: grid;
    gap: 20px;
}
.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width: 578px) and (max-width: 1200px) {
  .grid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
}
@media (min-width: 1200px){
   .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
   }
}
